{% extends 'base.html' %}

{% block title %}
Date Index
{% endblock %}

{% block lead %}
날짜 별 뮤지컬 정보를 조회
{% endblock %}

{% block main_body %}
<form method="POST" action="/date">
  <input name="date" style="margin-bottom:10px" class="form-control" type="text" placeholder="YYYY-MM-DD">
  <input type="submit" class="btn btn-primary" value="Search" />
</form>

{% if musical_info_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Runtime</th>
      <th scope="col">Showtime</th>
      <th scope="col">Rating</th>
      <th scope="col">Price</th>
      <th scope="col">Theater</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    {% for musical_info in musical_info_list %}
    <tr>
      <th scope="row">{{ musical_info['title'] }}</th>
      <td>{{ musical_info['op_st_dt'] }}</td>
      <td>{{ musical_info['op_ed_dt'] }}</td>
      <td>{{ musical_info['runtime'] }}</td>
      <td>{{ musical_info['showtime'] }}</td>
      <td>{{ musical_info['rating'] }}</td>
      <td>{{ musical_info['price'] }}</td>
      <td>{{ musical_info['place_nm'] }}</td>
      <td>{{ musical_info['url'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if search_text %}
<p>{{search_text}}</p>
{% endif %}
{% endblock %}
