{% extends 'base.html' %}

{% block title  %}
Search by Theater Page
{% endblock  %}

{% block lead %}
Search the list of musicals available at the selected theater
{% endblock %}

{% block main_body  %}
<div class="container" style="width: 500px;">
  <form method="POST" action="/musical">
    <div class="input-group mb-3">
      <select name="theater" class="custom-select">
        {% for theater in theaters %}
        <option value={{theater.id}}>{{theater.name}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</label>
      </div>
    </div>
  </form>
</div>

{% if musical_list and theater_name %}
<label style="font-size: 15px;">List of musicals to be performed at {{theater_name}}</label>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Runtime</th>
      <th scope="col">Showtime</th>
      <th scope="col">Rating</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Casting</th> -->
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    {% for musical in musical_list %}
    <tr>
      <th scope="row">{{ musical.title }}</th>
      <td>{{ musical.start }}</td>
      <td>{{ musical.end }}</td>
      <td>{{ musical.runtime }}</td>
      <td>{{ musical.showtime }}</td>
      <td>{{ musical.rating }}</td>
      <td>{{ musical.price }}</td>
      <!-- <td>{{ musical.casting }}</td> -->
      <td><a href={{ musical.url }}>{{ musical.url }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock  %}