{% extends 'base.html' %}

{% block title %}
Theater of Interest
{% endblock %}

{% block lead %}
Add or delete a list of theaters of interest
{% endblock %}

{% block main_body %}
<div class="container" style="width: 500px;">
  <form method="POST" action="/api/theater">
    <div class="input-group mb-3">
      <select name="theatername" class="custom-select">
        {%for theater_name in theater_name_list %}
        <option>{{ theater_name }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" style="margin-bottom:10px" type="submit">Add</button>
      </div>
    </div>
  </form>

  {% if saved_theaters %}

  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for saved_theater in saved_theaters %}
      <tr>
        <th scope="row">{{ saved_theater.name }}</td>
        <td>
          <a class="btn btn-outline-secondary", href="/api/theater/{{ saved_theater.id }}">
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}